body{
    background-color: white;
}

.div1{
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(143, 141, 141, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

}
.all{
    display: flex;
   flex-direction: row;
    column-gap: 30px;
    
    padding: 20px;
}
